/* HomeScreen.css */
.homeScreen {
  color: #fff; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: calc(100vw - 30px); 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: calc(100vw - 90px); 
  height: calc((100vw - 90px) / 2);
  object-fit: cover;
  margin-bottom: 30px;
}

.search-bar-label {
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
  align-self: flex-start;
}

.search-input {
  flex-grow: 1;
  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid #444;
  background-color: #222;
  color: #ddd;
  outline: none;
  border-radius: 10px 10px 10px 10px;
  margin-right: 5px;
}

.get-code-button {
  background-color: #BF8DFF;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 15px;
}

.get-code-text {
  color: #FFF;
  font-weight: 600;
  font-size: 18px;
}

.digit-input {
  width: 40px;
  padding: 8px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  border: 2px solid #4D4D4D;
  background-color: #222; 
}

.input-dash {
  font-size: 24px;
  padding: 0 10px;
  line-height: 40px;
  display: inline-block; 
}

.code-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.code-label {
  color: #FFF;
  font-size: 15px;
  line-height: 100%;
}

.code {
  color: #FFF;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  font-family: monospace;
}

.digit-input {
  width: 40px;
  padding: 8px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  border: 2px solid #4D4D4D;
  background-color: #222;
  border-radius: 5px;
  transition: border-color 0.3s; /* Add transition for smoother effect */
}

.digit-input:focus {
  border-color: #BF8DFF;
  outline: none;
}
